container_commands:
  00_copy_env_file:
    command: "cp .env.example .env"
    cwd: "/var/app/ondeck"

  01_run_key_generate:
    command: "php artisan key:generate"
    cwd: "/var/app/ondeck"

  02_chmod_command:
    command: "sudo chmod -R 755 ../storage/app/public"
    cwd: "/var/app/ondeck"

  03_run_storage_link:
    command: "ln -s ../storage/app/public  public/storage"
    cwd: "/var/app/ondeck"
