container_commands:
  00_copy_env_file:
    command: "cp .env.example .env"
    cwd: "/var/app/ondeck"

  01_run_key_generate:
    command: "php artisan key:generate"
    cwd: "/var/app/ondeck"

  02_run_storage_link:
    command: "sudo php artisan storage:link"
    cwd: "/var/app/ondeck"
    leader_only: true